body
    {
  background-color: #B1BCE6
}
h1{
  color: #84DFFF;
}
h3{
  color: #84DFFF;
}

 hr
 {
   border-style: none;
   border-top-style: dotted;
   border-color: black;
   border-width: 10px;
   width: 5%;
 }
