body
    {
  background-color: #B1BCE6
}

h1{
  color: #2C394B;
}


h3{
  color: #2C394B;
}

 hr
 {
   border-style: none;
   border-top-style: dotted;
   border-color: grey;
   border-width: 5px;
   width: 5%;
 }
